.img{
    width:100%;
    height:auto;
    background-image: url("https://www.zim.com/assets/dakfozjo/zim-sammy-ofer_panama_wlu_desktop.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.nav_top
{
    display: flex;
    gap: 30px;
    justify-content: end;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    padding: 10px 0;
    font-family: "Assistant", sans-serif;
    position: relative;
}

.nav_link{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    font-family: "Assistant";
}
.nav_link:hover
{
    border-bottom: 4px solid white;
}
.nav_logo
{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-right: 1rem;
}

.nav_button_text
{
    padding-top: 20px;
    font-family:  "Comfortaa", sans-serif;
    font-size: 18px;
}
.dropdown {
      position: relative;
      display: inline-block;
    }
.dropdown-label {
      display: flex;
      align-items: center;
      background-color: white;
      color: #004990;
      font-weight: bold;
      cursor: pointer;
      border: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      font-family:  "Comfortaa", sans-serif;
      font-size: 18px;
      background-color: white;
      height:40px;
      border-radius: 10px;
      width: 100%;
      margin-right: unset;
      padding: 5px 11px;
      text-wrap: nowrap;
      border-width: 0px;
    }

    .dropdown-label img {
      width: 25px;
      height:25px;
      transition: transform 0.5s ease; 
    }
.rotated
{
    transform:rotate(180deg);
}
.nav_list
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    flex: 1;
    align-items: center;
    padding-left: unset;
    padding-top: 20px;
    gap:7px;
    
}
.mimg
{
    width: 26px;
    height: 26px;
    transition: transform 0.5s ease;
    margin-left: 2px;
}
.nav_list_right
{
    display:flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
    gap: 10px !important;
    padding-left: unset;
    padding-top: 20px;
}
.country_flag
{
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #fff;
    display:flex;
    align-items: center;
    justify-content: center;
}
.flag_img
{
    vertical-align: middle;
    
}
.flag_text
{
    font-size: 25px;
    font-weight: 300;
    font-family: "Assistant";
    color: #fff;
    text-decoration: none;
}
.zoom
{
    transition: transform .2s;
}
.zoom:hover{
    transform: scale(1.15);
}
#borders:hover{
    border-bottom: 4px solid white;
}
.title_banner
{
    direction: ltr;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 455px;
}
.title_banner_text{
    font-family: "Michroma", sans-serif;
    color: #fff;
    font-size: 52px;
    text-align: left;
    font-weight: lighter;
    max-width: 50%;
    line-height: 80px;
    position:relative;
}
.request_button
{
    margin: 0px 60px;
    color: #002d72;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px 0;
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: normal;
    line-height: 26px;
    font-family: "Assistant", sans-serif;
    margin-top: 15px;
    position: relative;
}
.banner
{
    position: absolute;
}

.main_body
{
    position: absolute;
    height:70%;
    background:#ffffff;
    width:100%;
    top: 100%;
}
.center_notify
{
  position: absolute;
  background: rgb(255, 255, 255);
  width: 90%;
  top: 95%;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@import url('https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap');

.news-ticker {
  font-family: 'Segoe UI', sans-serif;
  background-color: transparent;
  padding: 15px 30px;
  overflow: hidden;
  height: 100%;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  width:95%
}

.news-box {
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  width:90%;
  height: 100%;
}

.news-item {
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  color: #000;
  width: 100%;
}

.date {
  color: #1949b8;
  font-weight: bold;
  margin-right: 8px;
}
.card
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word; 
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    margin: 0 26px;
    overflow: hidden;
}
.card img:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.card{
    width:390px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 20px;
    font-family: "Michroma",sans-serif;
}
.card img{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all .9s ease-in .9s;
    background-position: center;
    position: absolute;
    overflow: hidden;
}
.wrapper {
  margin-right: 20px;
    width: 100%;
    position: relative;
}
.wrapper i {
    height: 50px;
    width: 50px;
    background: rgb(253, 253, 253);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25 rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

}

.wrapper i:first-child {
    left: 2px;

}

.wrapper i:last-child {
    right: 2px;

}
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.card {
    scroll-snap-align: start;
    list-style: none;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 390px;
    padding-bottom: 15px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 768px) {
    .img {
        background-image: url("https://www.zim.com/assets/24fh2xzd/zim-sammy-ofer_panama_wlu_mobile.webp");
        height: auto; /* optional: adjust height based on content */
        min-height: 710px;
        background-position: top;
        background-size: cover;
    }
    .nav_top,
  .nav_list,
  .nav_list_right {
    display: none; /* Hides nav links on mobile */
  }

  .mobile-menu {
    display: flex !important; /* Shows hamburger */
    cursor: pointer;
    padding: 15px;
  }

  .mobile-menu span {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    display: block;
  }
  .mob_button_text
  {
    width: 100px;
    height: 40px;
    font-size: 50px;
    position: absolute;
    top: 30px;
    right: 60px;
  }
  .mob_search
  {
    top:35px;
    right:10px;
    position: absolute;
  }
  .title_banner {
    padding: 20px;
    text-align: center;
    height: auto;
  }

  .title_banner_text {
    font-size: 35px;
    line-height: 36px;
    max-width: 100%;
    color: white;
    margin-bottom: 20px;
    text-align: center;
  }
.bg-white.rounded-lg.shadow-lg {
    margin: 20px auto;
    width: 95%;
    max-width: 95%;
    padding: 15px;
    height: auto;
  }
  .banner{
    position: relative;
    align-items: center;
  }

  .request_button {
    width: 90%;
    font-size: 18px;
    padding: 10px 0;
    margin: 10px auto;
    align-items: center;
  }

  .title_banner {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:0;
  }
  
  .tab-btn {
  font-size: 16px !important;
  padding: 8px 0 !important;
}
 
 .center_notify {
    position: relative !important;
    top: auto !important;
    margin: 0 auto;
    width: 95% !important;
  }

  .center_notify {
    margin-top: 1px;
    height: auto;
    padding: 10px;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  } 
  .main_body, 

  .card_container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 50%;
    margin: 30px 0;
  }

  .card h3 {
    font-size: 20px;
    margin-top: 220px;
  }

  .card img {
    height: 200px;
  }
}
@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

